body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    /*background-color: #1abc9c; /* Color de fondo */
    background-image: linear-gradient(135deg,#21002f, #400559, #02053a, #141974, #092f40);
    height: 15vh;
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    font-size: 24px; /* Tamaño de fuente */
}



.hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 20vw;
    height: 100%;
    background-image: linear-gradient(135deg,#551372, #8e29b9, #1920ad, #5159f0, #3bb3ea);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.spread{
    transform: translateX(0);
}

/**/

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 90px;
}

.formulario{
    display: none;
} 

.tabla {
    overflow-y: auto; /* Añade una barra de desplazamiento vertical solo si el contenido se desborda del elemento en donde se encuentra*/
    height: 500px; /* Ajusta esto a la altura deseada */
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
    width: 100%; 
}

.table-consulta {
    overflow-y: auto;
    height: 540px; /* Ajusta esto a la altura deseada */
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
    width: 100%;
}

/* Estilos para las celdas de la tabla */
.tabla td, .tabla th {
    border: 1px solid #ddd; /* Añade bordes a las celdas */
    padding: 8px; /* Añade espacio dentro de las celdas */
}

/* Estilos para las cabeceras de la tabla */
.tabla th {
    background-color: #f2f2f2; /* Color de fondo para las cabeceras */
    text-align: center; /* Alinea el texto en la mitad */
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /*en el ancho del elemento se cuenta tambien el borde*/
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.formButton {
    background-color: #1abc9c;
    color: #fff;
}

.formButton:hover {
    background-color: #0056b3;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: #1abc9c; /* Color de fondo */
    background-image: linear-gradient(135deg,#21002f, #400559, #02053a, #141974, #092f40);
    color: white; /* Color del texto */
    padding: 10px 0;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
}

footer i {
/* Estilos para los iconos */
    margin: 0 0.5rem; 
}
  
footer p {
    margin: 0.5rem 0;
}

.bx-home-heart {
    color:#ffffff
}

/* Estilos para pantallas pequeñas (hasta 480px) */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .tabla, .table-consulta {
        height: 300px;
        font-size: 12px;
    }

    .btn-agregar, .btn-consultar {
        font-size: 12px;
        padding: 5px 10px;
    }

    #consulta-container {
        font-size: 12px;
    }

    #consulta-container input[type="email"] {
        width: 100%;
    }
}

/* Estilos para pantallas medianas (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .tabla, .table-consulta {
        height: 400px;
        font-size: 14px;
    }

    .btn-agregar, .btn-consultar {
        font-size: 14px;
        padding: 8px 16px;
    }

    #consulta-container {
        font-size: 14px;
    }
}

/* Estilos para pantallas grandes (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .tabla, .table-consulta {
        height: 500px;
        font-size: 16px;
    }

    .btn-agregar, .btn-consultar {
        font-size: 16px;
        padding: 10px 20px;
    }

    #consulta-container {
        font-size: 16px;
    }
}

/* Estilos para pantallas extra grandes (1025px en adelante) */
@media (min-width: 1025px) {
    .tabla, .table-consulta {
        height: 600px;
    }
}
  
/*box-sizing: border-box -> el ancho y alto de un elemento se calculan sumando el contenido, el relleno (padding) y el borde (border). Esto significa que si estableces un width de 200px y un padding de 20px, el ancho total del elemento será de 240px (200px de contenido + 20px de relleno a cada lado).*/